<div class="row">
 
<div class="large-4 small-12 columns">
<img src="http://placehold.it/500x500">
<div class="hide-for-small panel">
<h3><%= @gym.name %> Members</h3>
<h5 class="subheader">
  Select a user to manage.
</h5>
</div><a href="<%= gym_members_path(@gym) %>">
<div class="panel callout radius">
<h6><%= @gym.members.size %> member(s) <i>&lt;click to manage&gt;</i></h6>
</div></a>
</div> 
 
<div class="large-8 columns">
  <div class="row">
  <% member_list = @gym.members %>
  <% member_list = member_list.to_a.prepend Member.new %>
  <% member_list.each do |member| %>
    <% is_real = member.id.present? %>
    <div class="large-4 small-6 columns">
      <% if is_real %>
        <%= link_to (image_tag "http://placehold.it/250x250"), gym_member_path(@gym,member) %>
      <% else %>
        <%= link_to (image_tag "http://placehold.it/250x250&text=Add%20Member"), new_gym_member_path(@gym) %>
      <% end %>
      <div class="panel">
        <% if is_real %>
          <h5><%= member.try(&:name) %></h5>
          <ul class="small-block-grid-3">
            <li class="text-center"> <%= link_to (fa_stacked_icon "usd", base: "square-o"), new_gym_member_transaction_path(@gym,member) %> </li>
            <li class="text-center"> <%= link_to (fa_stacked_icon "pencil", base: "square-o"), gym_member_path(@gym,member) %> </li>
            <li class="text-center"> <%= link_to (fa_stacked_icon "trash", base: "square-o"), gym_member_path(@gym,member), method: :delete, :data => { confirm: "Are you sure you want to delete?"} %> </li>
          </ul>
        <% else %>
          <h5>Add</h5>
          <ul class="small-block-grid-3">
            <li class="text-center"> <%= link_to (fa_stacked_icon "plus", base: "square-o"), new_gym_member_path(@gym) %> </li>
            <li class="text-center"> <%= fa_icon "fw" %> </li>
            <li class="text-center"> <%= fa_icon "fw" %> </li>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div> 
 
<footer class="row">
<div class="large-12 columns">
<hr>
<div class="row">
<div class="large-6 columns">
<p>© Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li>
<a href="http://foundation.zurb.com/templates/store.html#">Link 1</a>
</li>
<li>
<a href="http://foundation.zurb.com/templates/store.html#">Link 2</a>
</li>
<li>
<a href="http://foundation.zurb.com/templates/store.html#">Link 3</a>
</li>
<li>
<a href="http://foundation.zurb.com/templates/store.html#">Link 4</a>
</li>
</ul>
</div>
</div>
</div>
</footer> 
