- if @transaction.id.present?
  - path = gym_member_transaction_path(@gym,@member,@transaction)
- else
  - path = gym_member_transactions_path(@gym,@member)

= form_for @transaction, :url => path do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-6.small-12.small-centered.columns.text-center
      = f.hidden_field :member_id, :value => @member.id
  .row.collapse
    .large-1.small-2.large-push-4.columns
      %span.prefix
        = fa_icon "usd"
    .large-3.small-10.large-pull-4.columns
      = f.text_field :rate, :placeholder => :rate
  .row.collapse
    .large-1.small-2.large-push-4.columns
      %span.prefix
        %b #
    .large-3.small-10.large-pull-4.columns
      = f.text_field :workouts, :placeholder => :rate
  .row
    .large-5.small-12.small-centered.columns.text-center
      = f.submit 'Save', :class => "button expand"
