%p#notice= notice

%p
  %b Member:
  = @transaction.member.email
%p
  %b Balance:
  = @transaction.balance
%p
  %b Workouts:
  = @transaction.workouts
%p
  %b Rate
  = @transaction.rate
%p
  %b Workouts used:
  = @transaction.workouts_used

= link_to 'Edit', edit_gym_member_transaction_path(@gym,@member,@transaction)
\|
= link_to 'Back', gym_member_path(@gym,@member)
