.row
  .small-6.small-centered.columns.text-center
    %h1 New member
    - if @gym
      %h2= "For #{@gym.name}"

= render 'form'

.row
  .small-6.small-centered.columns.text-center
    - if @gym
      = link_to 'Back', gym_members_path(@gym)
    -else
      = link_to 'Back', members_path
