.row
  %p#notice= notice
.row
  %h1= @member.name
.row
  %h4= @member.email
.row
  Gym:
  = link_to @member.gym.name, gym_path(@member.gym)
.row
  %h5 Transactions
.row
  = link_to 'Edit', edit_gym_member_path(@member.gym,@member)
  \|
  = link_to 'Back', gym_members_path
